<html>

    <head>
<title> Affichage Bdd</title>
    </head>

    <body>
       
        <% result.forEach(function(result, affiche){ %>
            
        
                    <p>Nom<%= result.noms %></p>
             
                 <p>Prenom<%= result.prenoms %></p> 
             
                   <p>Mail<%= result.mail %></p>
    
<% }) %>
            

    
        



    </body>


</html>
